.next-question {
    margin-top: 50px;
    margin-bottom: 100px;
}

.admin-layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282c34;
    flex-direction: column;
}

.time-left {
    display: flex;
    width: 225px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
}

.white {
    color: white;
}